@font-face {
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@media (min-width:641px) {

    .article_header {
        font-size: 80px;
        margin-bottom: 0;
    }

    .button_box {
        display: flex;
        justify-content: center;
    }

    .download_button {
        padding-left: 0;
        justify-content: center;
        border-radius: 50px;
    }

    .be_active_image, .find_contact_image, .work_it_image {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width:641px) and (max-width: 960px) {

    header {
        padding-top: 40px;
        padding-bottom: 91px;
        background-image: url(../images/football_1280.jpg);
    }
    
    .logo-box {
        width: 26.6vw;
        margin-bottom: 181px;
    }

    .header_title_box {
        margin-bottom: 312px;
        width: 79vw;
    }

    .download_button {
       width: 40.4vw;
    }

    .app_store_button {
        margin-right: 31px;
        margin-bottom: 0;
    }

    .btn_text {
        font-size: 14px;
    }

    .athlets {
       padding-top: 86px;
    }

    .athlets_header {
        padding-left: 38vw;
    }
    
    .athlets_header::after {
        background-image: url(../images/footballer_497.png);
        top: 130px;
        left: -17.2vw;
    }

    .paragraph {
        padding-top: 3.1vw;
        padding-bottom: 3.1vw;
        padding-right: 42px;
    }

    .paragraph_athlets {
        padding-left: 38vw;
    }

    .paragraph:first-child {
        padding-top: 4.6vw;
    }

    .paragraph_header {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .athlets_number, .athlets_number_3 {
        font-size: 18px;
    }

    .paragraph_text {
        font-size: 1rem;
    }

    .players {
        padding-top: 86px;
    }

    .paragraph_players {
        padding-right: 37.5vw;
        padding-left: 26px;
    }

    .players_header::after {
        background-image: url(../images/basketballer_991.png);
        background-size: 680px;
        top: 8vw;
        left: 44vw;
    }

    .photo_header {
        font-size: 80px;
        margin-top: 82px;
    }

    .be_active_image, .find_contact_image, .work_it_image {
        height: 76vw;
    }

    .be_active_image {
        background-image: url(../images/be-active_960.jpg);
    }

    .find_contact_image {
        background-image: url(../images/find-contact_960.jpg);
    }

    .work_it_image {
        background-image: url(../images/work-it_960.jpg);
    }

    .photo_number_box {
        width: 120px;
        height: 120px;
        font-size: 24px;
        top: -162px;
    }

    .photo_text {
        font-size: 24px;
    }

    .photo_list {
        margin-bottom: 100px;
    }

    footer {
        padding-top: 126px;
        padding-bottom: 24px;
        background-image: url(../images/game_1280.jpg);
    }

    .f_logo_box {
        width: 130px;
        height: 130px;
        background-color: #5637a7;
        margin-bottom: 83px;
    }

    .footer_headline {
        font-size: 80px;
    }

    .footer_tagline {
        font-size: 36px;
    }

    .f_text_box {
        margin-bottom: 288px;
    }

    .f_surface_logo_box {
        margin-top: 55px;
        width: 205px;
    }
}

@media (min-width: 961px) {

    header {
        background-image: url(../images/football_1920.jpg);
        padding-top: 45px;
        padding-bottom: 110px;
    }

    .logo-box {
        width: 10vw;
        margin-bottom: 292px;
    }

    .header_title_1, .header_title_2 {
        font-size: 90px;
    }

    .header_title_box {
        margin-bottom: 222px;
    }

    .download_button {
        height: 77px;
        width: 311px;
    }

    .download_button:first-child {
        margin-right: 51px;
    }

    .btn_logo {
        width: 42px;
    }

    .btn_text {
        font-size: 14px;
    }

    .athlets {
        margin-top: 116px;
    }

    .athlets_header {
        padding-left: 52vw;
    }

    .athlets_header::after {
        background-image: url(../images/footballer_566.png);
        background-size: 568px;
        top: -80px;
        left: -8vw;
    }
    
    .paragraph_header {
        font-size: 36px;
        padding-left: 52vw;
    }

    .athlets_number, .athlets_number_3 {
        font-size: 18px;
    }

    .paragraph_text {
        font-size: 20px;
        padding-left: 52vw;
        width: 37vw;
    }

    .players_header, .paragraph_header_players, .paragraph_text_players {
        padding-left: 9.6vw;
    }

    .players {
        padding-top: 118px;
    }

    .players_header::after {
        background-image: url(../images/basketballer_991.png);
        background-size: 991px;
        top: 0;
        left: 39vw;
    }

    .be_active_image, .find_contact_image, .work_it_image {
        height: 730px;
        width: 50vw;
        background-size: cover;
    }

    .be_active_image {
        background-image: url(../images/be-active_1024.jpg);
        background-position: 80% center;
    }

    .find_contact_image {
        background-image: url(../images/find-contact_1024.jpg);
        order: 1;
        background-position: 0 center;
    }

    .work_it_image {
        background-image: url(../images/work-it_1024.jpg);
    }

    .photo_list {
        display: flex;
        margin-bottom: 0;
    }

    .photo_list:last-child {
        margin-bottom: 0;
    }

    .photo_text_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 50vw;
        padding-left: 128px;
    }

    .photo_text_box_left {
        padding-left: 9vw;
        padding-right: 7vw;
    }

    .photo_header {
        font-size: 80px;
    }

    .photo_number_box {
        font-size: 24px;
        width: 170px;
        height: 160px;
        top: 0;
        left: -214px;
    }

    .photo_number_box_2 {
        left: 32vw;
    }

    .photo_text {
        font-size: 24px;
    }

    footer {
        padding-top: 230px;
        padding-bottom: 52px;
        background-image: url(../images/game_1920.jpg);
    }

    .footer_headline_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 151px;
    }

    .f_logo_box {
        height: 137px;
        width: 130px;
        margin: 0;
    }

    .f_text_box {
        margin: 0;
    }

    .footer_headline {
        font-size: 80px;
    }
    
    .footer_tagline {
        font-size: 30px;
    }

    .f_surface_logo_box {
        margin-top: 262px;
        width: 191px;
    }
}

@media (min-width: 1100px) {
    .athlets_header::after {
        left: 0;
    }

    .photo_number_box_2 {
        left: 33.3vw;
    }
}

@media (min-width: 1300px) {
    .athlets_header::after {
        left: 8vw;
        min-height: 110%;
    }

    .photo_number_box_2 {
        left: 34.4vw;
    }
}

@media (min-width: 1600px) {
    .athlets_header::after {
        left: 16vw;
    }

    .photo_number_box_2 {
        left: 35.7vw;
    }
}

@media (min-width: 1900px) {
    .athlets_header::after {
        left: 20vw;
    }

    .photo_number_box_2 {
        left: 36.5vw;
    }
}